@import 'utility';

html {
  text-size-adjust: 100%;
  max-width: 100%;
  max-height: 100%;
}

// fonts {
// font-family: 'Cormorant Garamond', serif;
// font-family: 'Proza Libre', sans-serif;
// font-family: 'Libre Franklin', sans-serif;
// font-family: 'Libre Baskerville', serif;
// font-family: 'Trirong', serif;
// font-family: 'Rubik', sans-serif;
// font-family: 'Work Sans', sans-serif;
// font-family: 'Taviraj', serif;
// font-family: 'Eczar', serif;
// font-family: 'Gentium Basic', serif;
// font-family: 'Sonsie One', cursive;
// }

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-repeat: no-repeat;
  background-size: 106%;
  background-image: url('https://4.bp.blogspot.com/-oOi05TEQ-rw/VdIm7bq0dDI/AAAAAAABxjg/7JkfL4gEY64/s0/Wine_Candlelight_uhd.jpg');
  // background-image: url('https://4.bp.blogspot.com/-s_bEGUR7TUo/VIc5Z0sg04I/AAAAAAABZGs/yd3ZvekQJjg/s0/Glass%2Bof%2BRed%2BWine%2BUHD.jpg');
}

body,
#root,
.layout {
  min-height: 100vh;
}

h1 {
  color: #fff;
  font-family: 'Eczar', serif;
  font-stretch: expanded;
  text-align: center;
  position: relative;
  // font-size: 20px;
  // margin-top: 20px;
  margin-bottom: 50px;
  // top: 50px;
}

#aside {
  flex-direction: column;
  float: left;
  display: flex;
  align-items: left;
  position: relative;
  top: -200px;
  right: 480px;
  background: linear-gradient(rgb(78,42,99)rgb(44,29,62)rgb(16,42,19));
    p {

    }
}

.layout {
  display: flex;
  flex-direction: column;
  // align-items: center;
}

table {
  padding: 25px;
  background-color: rgba(#04010f, 0.75);
}

td {
  color: white;
}

th {
  color: white;
}

main {
  max-width: 760px;
  margin: 1em auto;
  list-style-type: none;
  flex: 1;
  flex-direction: row;
  position: relative;
    ul {
      display: flex;
      position: relative;
    }
}

#flow {
  align-items: top;
  position: relative;
  background: linear-gradient(left to right, #7e7777 , #222);
}

#juicier {
  justify-content: space-between;
  display: flex;
  position: relative;
  text-align: center;
  top: -50px;
  flex-direction: row;
  padding: 50px;
  flex: 1;
    #juicy {
      text-align: center;
      align-items: center;
      // justify-content: space-between;
      // flex-direction: row;
    }
}

nav ul {
  padding-left: 0;
  display: flex;
  list-style: none;
  margin-bottom: 50px;
  position: relative;
  // width: 80%;
  justify-content: space-between;
  flex: 1;
  // top: -10px;
  flex-direction: row;
}
  nav h1:hover {
    animation-timing-function: linear;
    animation: moveFromBottom 300ms ease-in-out;
    border-color: #f4eee1;
    transform: translateY(-20px);
    animation-name: justice;
    transition-duration: 2s;
  }
    nav li:hover {
      background: #b899f1;
      border-color: #f4eee1;
      animation: moveFromBottom 800ms ease-in-out;
      color: #FFF;
      text-shadow: 0px 0px 1px rgb(62,24,12);
      animation: moveFromBottom 800ms ease-in-out;
      transform: translateY(20px);
      animation-name: justice;
      animation-iteration-count: 1;
      animation-duration: 0.42;
      transition-duration: 2s;
      animation-timing-function: linear;
    nav li:active {
    }
}

@keyframes moveFromBottom {
    from {
        opacity: 0;
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes moveFromTop {
    from {
        opacity: 0;
        transform: translateY(-200%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

ul.swag {
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  list-style-type: none;
  float: right;
  right: -50px;
}

.swag {
  list-style-type: none;display: flex;
  flex-direction: row;
  display: flex;
  flex: 10;
  position: relative;
  justify-content: space-around;
  justify-content: space-between;
  list-style-type: none;
    li{
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      padding: 50px;
      margin-bottom: 25px;
    }
}

.ourmenu {
  justify-content: space-between;
  flex: 1;
  display: flex;
  flex-direction: row;
  list-style-type: none;display: flex;
  position: relative;
  right: 50px;
  opacity: 10px;
    ul {
      justify-content: space-between;
      flex: 1;
      display: inline-flex;
      right: -35px;
      flex-direction: row;
      list-style-type: none;
      position: relative;
    }
}

h2 {
  text-align: center;
  position: relative;
  top: -100px;
  color: white;
  margin-bottom: -90px;
}

p {
  color: white;
  top: 0px;
}

footer {
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 10px;
}

// @keyframes example {
//   from {background-image: url('https://4.bp.blogspot.com/-5PAj4q1KLpI/Uh7yu-p9AnI/AAAAAAAAHac/QHvRBZt8MfE/s0/La+Gondola+Italian+Restaurant+2560x1600.jpg');}
//   to {background-image: url('https://wallpaperscraft.com/image/restaurant_table_interior_modern_style_39288_3840x2160.jpg');}
// }

@keyframes justice {
  nav {animation-timing-function: ease-in;}

}

.contact {
  margin-top: 0px;
}

form {
  text-align: left;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
    input {
      align-items: center;
      justify-content: space-between;
      align-content: center;
      margin: 25px;
        p {
          margin: 25px;
            textarea {
              margin: 25px;
                label {
                  margin-right: 10px;
                }
            }
        }
    }
}

 // .carousel{
//     overflow:hidden;
//     width:100%;
//     position: relative;
//     background-color: transparent;
// }
// .panes{
//     list-style:none;
//     position:relative;
//     flex-direction: row;
//     justify-content: space-between;
//     display: flex;
//     width:100%; /* Number of panes * 100% */
//     overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
//
//     -moz-animation:carousel 40s infinite;
//     -webkit-animation:carousel 40s infinite;
//     animation:carousel 80s linear infinite;
//     animation-delay: 2s;
// }
// .panes > li{
//   justify-content: space-between;
//     width:100%; /* 100 / number of panes */
// }
// .carousel img{
//     width:100%;
//     height: 100%;
//     justify-content: space-between;
//     display: inline-block;
//     max-width:100%;
// }
// .carousel h2{
//     font-size:1em;
//     padding:0.5em;
//     position:absolute;
//     color:#fff;
// }
//
// @keyframes carousel {
//     0% { left: 0;}
//     50% { left: -100%;}
//     100% { right: 150%;}

// 35% { left:-15%;}
// 35% { left:-15%;}
// 35% { left:-15%;}
//     23.5% { left:-200%;}
//     23.5% { left:-200%;}
//     23.5% { left:-200%;}
//
// }
    // 0%    { left:0; }
    // 11%   { left:0; }
    // 12.5% { left:-100%; }
    // 23.5% { left:-100%; }
    // 25%   { left:-200%; }
    // 36%   { left:-200%; }
    // 37.5% { left:-300%; }
    // 48.5% { left:-300%; }
    // 50%   { left:-400%; }
    // 61%   { left:-400%; }
    // 62.5% { left:-300%; }
    // 73.5% { left:-300%; }
    // 75%   { left:-200%; }
    // 86%   { left:-200%; }
    // 87.5% { left:-100%; }
    // 98.5% { left:-100%; }
    // 100%  { left:0; }


label {
  margin-right: 20px;
}

//  @keyframes identifier {
//  from {background-image: url('https://4.bp.blogspot.com/-s_bEGUR7TUo/VIc5Z0sg04I/AAAAAAABZGs/yd3ZvekQJjg/s0/Glass%2Bof%2BRed%2BWine%2BUHD.jpg');}
//  to {background-image: url('https://4.bp.blogspot.com/-oOi05TEQ-rw/VdIm7bq0dDI/AAAAAAABxjg/7JkfL4gEY64/s0/Wine_Candlelight_uhd.jpg');}
// }
//
// @keyframes example {
//   from{background-image: url('https://4.bp.blogspot.com/-oOi05TEQ-rw/VdIm7bq0dDI/AAAAAAABxjg/7JkfL4gEY64/s0/Wine_Candlelight_uhd.jpg');}
//   to{background-image: url('https://wallpaperscraft.com/image/restaurant_table_interior_modern_style_39288_3840x2160.jpg');}
// }


  .layout {
  animation-name: identifier;
  animation-iteration-count: 1;
  animation-duration: 15s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-timing-function: ease-in 5s;
  animation-direction: forwards;
  background-size: 106%;
}

a {
  justify-content: space-between;
}
